/.idea
/node_modules
/public/hot
/public/storage
/public/upload
/public/admin-site/js
/storage/*.key
/vendor
/resources/layouts/js/constants.js
/resources/layouts/js/vue-i18n-locales.generated.js
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
